body, h1, h2, h3, p, ul, li, figure {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
    overflow-x: hidden; 
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  .header {
    background-image: url('./assets/fondo1.jpg');
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  #logo {
    width: 80px; 
    margin-bottom: 20px;
    animation: pulseLogo 2s infinite ease-in-out;; 
  }
  
  .title-pag h1 {
    font-size: 2em;
    color: rgb(227, 15, 15); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px;
  }
 .navbar {
   height: 50px;
   width: 70px;
   margin-left: 10px;
   background-color: none;
 }
 
  main {
    padding: 20px;
  }
  
  .peliculas {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    animation: slideInRight 1s ease;
  }
  
  .mensaje-section {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: large;
  }
  
  .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
 .tarjeta {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease; 
  cursor: pointer;
  width: 350px;
}

.tarjeta:hover {
  transform: scale(1.05); 
  background-color: rgb(49, 63, 76);
}

.rate {
  color: #ffcc00; 
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  animation: destello 1s infinite;
}


.img {
  width: 250px;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
} */

  
  /* Información Adicional Styles */
  .informacion-adicional {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    animation: slideInLeft 1s ease; /* Animación de entrada desde la izquierda */
  }
  
  /* Footer Styles */
  .footer {
    background-image: url('./assets/fondo1.jpg');
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Animaciones Keyframes */
  @keyframes pulseLogo {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }  
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-0);
    }
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes destello {
    0% {
      opacity: 1; /* Opacidad al inicio de la animación */
    }
    50% {
      opacity: 0.5; /* Opacidad a la mitad de la animación */
    }
    100% {
      opacity: 1; /* Opacidad al final de la animación */
    }
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 768px) {
    .nav-bar {
      display: flex;
      flex-direction: column;
    }
  
    .nav-bar a {
      margin: 10px 0;
    }
  }
  